<div class="container">
  <div class="user-details">
    <h3> Hello </h3>
    <p> Selamat datang di blog Saya. Tempat di Mana 'mungkin' Saya akan menumpahkan kegabutan Saya, mulai dari menceritakan pengalaman yang menurut Saya menarik bagi Saya, mungkin beberapa hal yang akan Saya bahas mengenai  materi yang saya sukai, dan.. banyak lagi. Semoga  </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Story</h4>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Berisi tentang cerita kehidupan kampus, curhatan jika diperlukan, cerita tentang kebahagiaan, kesedihan, perjuangan, air mata :v,
        dan segala hal yang mungkin perlu untuk diceritakan.
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>Let's code girls! ga cuma girls sih, siapa pun kalian yang buka ini silakan diambil ilmunya jika ada Saya bagikan di sini.</p>
    </div>
    <div class="four columns">
      <h4>Motivation</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Cerita, petuah, kata-kata, apapun yang mungkin jika dibaca atau dilihat atau didengar bisa mengembalikan semangat. Ehe</p>
    </div>
  </div>
</div>
