<div class="container">
  <div class="user-details">
    <h3> Story </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PIMNAS 30" src="https://scontent-sin6-1.xx.fbcdn.net/v/t31.0-8/21200760_1601654303243313_4892851603503377845_o.jpg?oh=594929b32cdb9a2310f17291a5ffe0a4&oe=5A76FD31" />
    </div>
    <div class="six columns contents">
      <h5> PIMNAS 30, Makassar </h5>
      <ul>
        <li> Sebuah perjalanan </li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
